<div>
  <p>Dear <%= @candidate.first_name %></p>
  <p>Thank you for expressing your interest in Hiperpool!</p>
  
  <p>
   At Hiperpool, we aim to overcome the inefficiencies of traditional recruitment channels. We are developing a transparent, unbiased and efficient marketplace that aligns the best interests of candidates and employers.
</p>

<p>
  Hiperpool was founded on the belief that talent should be in control of their career choices and employers should have the reach and means to recruit the best candidate for every position.
</p>

<p>
  We will be in touch with you soon to introduce the platform in more detail and get you started. 
</p>
  
  <p>Sincerely</p>
  
  <p>The Hiperpool Team</p>
</div>