<div class="well">
  <div class="row" style='margin-left: 100px;'>
    <div class="span12">
      <h1 style='color:#032936;'>HIPERPOOL</h1>
    </div>
  </div>

  <div class="row" style='margin-left: 100px;'>
    <div class="span12">
      <p style='font-size: 16px;color:#032936;'>The place where exceptional talent is<br/> recognized by the world's leading agencies</p>
      <p>Attracting talent in the fields of Marketing, Sales, Management, Banking & Finance</p>
    </div>
  </div>
  
  <div class='row'>
    &nbsp;
  </div>
  
  <div class='row' style='margin-left: 100px;'>
    <div class='span3'>
      <a href="#myModal1" role="button" class="btn btn-danger btn-lg" data-toggle="modal">SIGN UP AS A CANDIDATE</a>
    </div>
    
    <div class='span3'>
      <a href="#myModal2" role="button" class="btn btn-primary btn-lg" data-toggle="modal">SIGN UP AS A COMPANY</a>
    </div>
  </div>
</div>

<%= render :partial => "/candidates/new" %>
<%= render :partial => "/companies/new" %>